sudo: required
services:
  - docker

before_install:
  - docker build -t learning/react-test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true learning/react-react npm run test

after_success:
  - docker build -t learning/multi-client ./client
  - docker build -t learning/multi-nginx ./nginx
  - docker build -t learning/multi-server ./server
  - docker build -t learning/multi-worker ./worker

